*{
	margin:0;
	padding:0;
}
body{
	margin:0;
	background-color:white;
}

a.nav-link{
	text-decoration: none;
	color: white;
}
.main-container{
	width:100%;
	height: auto;
	box-sizing: border-box;
	display: flex;
}
.container.menu{
	width:15%;
	height: auto;
}
.container.main{
	width:85%;
	height: auto;
}
nav.navigation-left, nav.navigation-top{
	box-sizing: border-box;
	position: relative;
}
nav.navigation-top{
	width:100%;
	height:10vh;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-end;
}

.user-account-info{
	width:auto;
	height: 100%;
	display: flex;
	align-items: center;
}
ul.user-info-list{
	list-style: none;
}
ul.user-info-list li{
	display:inline-block;
}
ul.user-info-list li:last-child{
	margin:0 5px;
}
nav.navigation-left{
	width:100%;
	min-height:600px;
	height:100vh;
	background-color:#191919;
}
.logo{
	width:100%;
	height: 15%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center; 
}
.logo h2{
	font-size: 25px;
	text-transform: uppercase;
	color:white;
}
.user-block-menu{
	width:100%;
	height:85%;
	box-sizing: border-box;
	padding-top:50px;
}
ul.user-menu{
	width:100%;
	height: auto;
}
li.user-el-menu{
	width:100%;
	height: 65px;
	color:white;
	font-size:20px;
	box-sizing: border-box;
	padding-left:15px;
	cursor: pointer;

	display:flex;
	align-items: center;
}
.active{
	background-color:#442A9D;
}


.box-content{
	width:100%;
	height:auto;
	box-sizing:border-box;
	padding: 25px 50px;
}