{% extends 'profile.html' %}
{% block menu %}
<li class="user-el-menu"><a class="nav-link" href="{% url 'profile' %}">Dashboard</a></li>
<li class="user-el-menu">Home tasks</li>
<li class="user-el-menu">Lectures</li>
<li class="user-el-menu">News</li>
<li class="user-el-menu"><a href="{% url 'my_groups' %}" class="nav-link">My groups</a></li>
<li class="user-el-menu active"><a href="{% url 'all_groups' %}" class="nav-link">All groups</a></li>
{% endblock %}
{% block box-content %}
    <ul>
        {% for school_group in school_groups %}
            <li>
                <a href="{% url 'group_detailed_view' school_group.name school_group.id school_group.creator.id %}">
                    {{ school_group }}
                </a>
            </li>
        {% endfor %}

    </ul>
{% endblock %}
