{% extends 'profile.html' %}
{% load static %}
{% block menu %}
<li class="user-el-menu"><a class="nav-link" href="{% url 'profile' %}">Dashboard</a></li>
<li class="user-el-menu"><a href="{% url 'list_tasks' %}" class="nav-link">Home tasks</a></li>
<li class="user-el-menu"><a class="nav-link" href="{% url 'list_lectures'%}">Lectures</a></li>
<li class="user-el-menu active"><a class="nav-link" href="{% url 'news'%}">News</a></li>
<li class="user-el-menu"><a href="{% url 'my_groups' %}" class="nav-link">My groups</a></li>
<li class="user-el-menu"><a href="{% url 'all_groups' %}" class="nav-link">All groups</a></li>
{% endblock %}

{% block box-content %}
    <div id="post_list">
        {% for post in posts reversed %}
            {% if post.group != None and post.group in user.groups or post.group == None %}
                <div class="post_poll">
                <a href="{% url 'post' post.id%}">
                    <p class="post_title">{{ post.post_title }}</p>
                </a>
                    <p class="post_description">{{ post.post_description }}</p>
                {% if post.files %}
                    <img src="{% static 'img/document.png'%}" width="5%">


                {% endif %}
            {% endif %}




            </div>

        {% endfor %}
    </div>
    <div id="poll_list">
            <div class="post_poll">
                {% for poll in poll_list reversed%}
                    {% if poll.group != None and poll.group in user.groups or poll.group == None %}
                        <br>
                        <form>
                        <p>{{ poll.question }}</p>
                        {% if user in poll.users_voted %}
                            {% for choice in poll.choice %}
                                <p>{{ choice.votes }} voted for {{ choice }}</p>
                        {% endfor %}
                            {% else %}
                            {% for choice in poll.choice %}
                            <label>
                                <input type="radio" name="choice" value="{{ choice.id }}">
                                {{ choice }}
                            </label>
                        {% endfor %}

                        <input class="vote" type="submit" value="Submit"/>
                        {% endif %}




                         </form>
                    {% endif %}

            {% endfor %}


            </div>

    </div>
    <script type="text/javascript">
            $("input.vote").click(function (event) {
                event.preventDefault();
                const choice = $("input[name=choice]:checked").val();
                $.ajax({
                    url: '{% url 'vote' %}',
                    type: 'GET',
                    data: {
                        'choice': choice,
                    },
                    dataType: 'json',
                    success: function () {
                        location.reload();
                    }
                });
            });
        </script>

{% endblock %}