{% extends 'profile.html' %}
{% load static %}
{% block box-content %}
    <form method="post">
    {% csrf_token %}
    {{ question.as_p }}
        <p>
            <label for="select_group">
                <select name="dropdown" id="select_group">
                    <option value="0" ></option>
                        {% for group in groups %}
                            <option value="{{ group.id }}">{{ group }}</option>
                        {% endfor %}
                </select>
            </label>
        </p>
        <p>
            {% if user.is_teacher %}
                <label for="id_teacher">
                    Teacher
                    <input type="radio" name="teacher" id="id_teacher">
                </label>
            {% else %}
                   <label for="id_teacher">
                    Student
                    <input type="radio" name="student" id="id_student">
                </label>
            {% endif %}
        </p>
    <div id="choice_block">
        <button id="append">+</button>
        {{ choice.as_p }}
    </div>

    <input type="submit" value="Save">

    </form>
    <script src="{% static 'javascript/lecture_handler.js' %}"></script>
    <script type="text/javascript">
        $('button#append').click(function (event) {
            event.preventDefault();
            $.ajax(
                {
                    type: 'GET',
                    success: function () {
                        $('div#choice_block').append('{{ choice.as_p }}');
                    }
                }
            )
        });
    </script>
{% endblock %}