{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
    {% block left-nav-bar %}
        <div class="main-container">
		<div class="container menu">

			<nav class="navigation-left">
				<div class="logo">
					<h2>Sempy</h2>
				</div>
				<div class="user-block-menu">
					<ul class="user-menu">
                        {% block menu %}
                        <li class="user-el-menu active"><a class="nav-link" href="{% url 'profile' %}">Dashboard</a></li>
						<li class="user-el-menu">Home tasks</li>
						<li class="user-el-menu">Lectures</li>
						<li class="user-el-menu">News</li>
						<li class="user-el-menu"><a href="{% url 'my_groups' %}" class="nav-link">My groups</a></li>
                        <li class="user-el-menu"><a href="{% url 'all_groups' %}" class="nav-link">All groups</a></li>
                        {% endblock %}

					</ul>
				</div>
			</nav>
		</div>


		<div class="container main">
			<nav class="navigation-top">
				<div class="user-account-info">
					<ul class="user-info-list">
						<li><p>{{user.first_name}}</p></li>
						<li>{{ user.last_name }}</li>
						<li>avatar</li>
                        {% if user.is_headteacher %}
                            <li><a href="{% url 'upload' %}">Add</a></li>
                        {% endif %}

					</ul>
				</div>
			</nav>

		{% block box-content %}

		{% endblock %}
		</div>
	</div>
    {% endblock %}
{% endblock %}